[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-debug-toolbar = "*"
django = "*"
python-dotenv = "*"
djangorestframework = "*"
drf-spectacular = "*"
django-extensions = "*"

[dev-packages]
autopep8 = "*"
black = "*"
pylint = "*"
pylint-django = "*"

[requires]
python_version = "3.10"

[scripts]
runserver = "python manage.py runserver"
makemigrations = "python manage.py makemigrations"
migrate = "python manage.py migrate"
